* {
    color: #ffffff;
    
}

body {
    background-color: black;
}

.demo-box {
    border: 1px solid white;
    margin: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 3em;
}

h1 {
    margin-left: 10%;
    margin-top: 2em;
    margin-bottom: 1em;
}

.about {
    margin-left: 10%;
}

.brief {
    margin-left: 10%;
    margin-top: 10%;
    font-size: larger;
}